.detail{
    display:flex;
    flex-direction: column;    
    background-color: $color_rick;
    color: black;
    text-align: center;
    margin: auto;
    max-width: 300px;
    margin-top: 20px;
    margin-bottom:10px;

    @include tablet{
        justify-content: space-around;
        margin:25px;       
        margin:auto;
        margin-top:25px;
    }  
    @include desktop{
       flex-direction: row;
       max-width:700px;
       max-height: 305px;
       margin:auto;
       margin-top:20px;
       margin-bottom: 10px;
    }
}
.detail__description{
    flex-direction: column;
    padding: 15px;
    line-height: 1.5;
    font-family:$font_acme;
    @include tablet{
        line-height: 2;
        align-items: center;
    }
}
.detail__img{
    padding:8px; 
}
.detail__name{
    text-transform: uppercase;
}
.back{
    border: 1px solid $color_morty;
    color:$color_morty;
    padding:5px;
}