.header{
    text-align: center;
    background-color: black;
    margin:auto;
    margin-bottom:15px; 
    width:100vw;     
    .header__img{
        max-width: 250px;
        margin:auto;
        display:block;
        @include tablet{
            max-width:500px;
        }
    }
}  
.head{
    width:100px;
    height: 100px;
    position:relative;
    animation-name: example;
    animation-duration: 1.5s;  
    animation-fill-mode: forwards;
}
@keyframes example {
    from {top: -100px;}
    to {top: 0px; }
}
